/*
 * Copyright (c) 2018 Miras Absar
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&spi0 {
	status = "ok";
	sck-pin = <21>;
	mosi-pin = <17>;
	miso-pin = <16>;

	ls013b7dh05@0 {
		compatible = "sharp,ls013b7dh05";
		reg = <17>;
		spi-max-frequency = <1000000>;
		label = "LS013B7DH05";
		scs-gpios = <&gpio0 15 0>;
	};
};
